header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(255, 251, 192);
}

.icon {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.link {
    font-size: 25px;
    font-weight: 500;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.greeting {
    color: rgb(255, 251, 192);
    
}

